.svg_container{
    overflow: scroll;
}
svg{
    background-color: white;
}
.visibleLine{
    stroke: black;
    fill: transparent;
    stroke-width: 0.75mm;
}
.arrow{
    stroke: black;
    fill: black;
    stroke-width: 0.18mm;
}
.narrowLine{
    stroke: black;
    fill: transparent;
    stroke-width: 0.18mm;
}

.dottedLine_1{
    stroke: black;
    fill: white;
    stroke-dasharray: 25,25;
    stroke-width: 0.18mm;
}
.dottedLine_2{
    stroke: black;
    fill: transparent;
    stroke-dasharray: 5,5;
    stroke-width: 0.18mm;
}
.dottedLine_3{
    stroke: black;
    fill: transparent;
    stroke-dasharray: 20,10,4,10;
    stroke-width: 0.18mm;
}
.circle{
    stroke:black;
    stroke-width: "5";
    fill: "black";
}
/*.clickableCircleTransparent{
    stroke: black;
    stroke-width: '7';
    fill: transparent;
    fill-opacity: 0.4;
}
.clickableCircleGrayed{
    stroke: black;
    stroke-width: '7';
    fill: gray;
    fill-opacity: 0.4;
}*/
.polyline{
    stroke: black;
    stroke-width: 0.75mm;
    fill: white;
}
.cut{
    stroke: black;
    stroke-width: 0.18mm;
    stroke-dasharray: 20,20;
}
svg text{
    text-anchor: middle;
    dominant-baseline: middle;
}
ion-slides {
    height: 100%;
  }